<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Application</title>

    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
    <!-- Header -->
        <header id="header">
            <nav class="sidebar close">
                <header>
                    <div class="image-text">
                        <span class="image">
                            <img src="img/logo.png" alt="Logo" class="logo">
                        </span>
        
                        <div class="text logo-text">
                            <span class="name">Sensor Config</span>
                            <span class="profession">Web Management</span>
                        </div>
                    </div>
        
                    <i class='bx bx-chevron-right toggle'></i>
                </header>
        
                <div class="menu-bar">
                    <div class="menu">
        
                        <li class="search-box">
                            <i class='bx bx-search icon'></i>
                            <input type="text" placeholder="Search...">
                        </li>
        
                        <ul class="menu-links">
                            <li class="nav-link">
                                <a href="#">
                                    <i class='bx bx-home-alt icon' ></i>
                                    <span class="text nav-text">Dashboard</span>
                                </a>
                            </li>
        
                            <li class="nav-link">
                                <a href="#">
                                    <i class='bx bx-bar-chart-alt-2 icon' ></i>
                                    <span class="text nav-text">Calibration</span>
                                </a>
                            </li>
        
                            <li class="nav-link">
                                <a href="#">
                                    <i class='bx bx-terminal icon' ></i>
                                    <span class="text nav-text">Configuration</span>
                                </a>
                            </li>
        
                            <li class="nav-link">
                                <a href="#">
                                    <i class='bx bx-cog icon'></i>
                                    <span class="text nav-text">Settings</span>
                                </a>
                            </li>
        
                        </ul>
                    </div>
        
                    <div class="bottom-content">
                        <li class="">
                            <a href="#">
                                <i class='bx bx-log-out icon' ></i>
                                <span class="text nav-text">Logout</span>
                            </a>
                        </li>
        
                        <li class="mode">
                            <div class="sun-moon">
                                <i class='bx bx-moon icon moon'></i>
                                <i class='bx bx-sun icon sun'></i>
                            </div>
                            <span class="mode-text text">Dark mode</span>
        
                            <div class="toggle-switch">
                                <span class="switch"></span>
                            </div>
                        </li>
                        
                    </div>
                </div>
            </nav>
        </header>
    <script>
        const body = document.querySelector('body'),
        sidebar = body.querySelector('nav'),
        toggle = body.querySelector(".toggle"),
        searchBtn = body.querySelector(".search-box"),
        modeSwitch = body.querySelector(".toggle-switch"),
        modeText = body.querySelector(".mode-text");
        toggle.addEventListener("click" , () =>{
            sidebar.classList.toggle("close");
        })
        searchBtn.addEventListener("click" , () =>{
            sidebar.classList.remove("close");
        })
        modeSwitch.addEventListener("click" , () =>{
            body.classList.toggle("dark");
            
            if(body.classList.contains("dark")){
                modeText.innerText = "Light mode";
            }else{
                modeText.innerText = "Dark mode";
                
            }
        });
    </script>
    <!-- /Header -->